* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* colors */
    --brand-light: #F67841;
    --brand-mid: #F3541C;
    --brand-dark: #E43A12;

    --text-primary: #292524;
    --text-secondary: #57534E;
    --text-tertiary: #8F8881;
    --text-highlight: #E43A12;

    --surface-primary: #FFFFFF;
    --surface-secondary: #FEE7D6;
    --surface-disabled: #E7E5E4;

    --stroke-default: #D6D3D1;
    --stroke-highlight: #F3541C;

    --semantic-error: #DC2626;

    --orange: #F9A474;
    --yellow: #FEDF6F;
    --green: #C7D78D;
    --blue: #B8CEDC;
    --violet: #C3B2E7;
    --pink: #F682A5;

    /* fonts */
    --font-family: 'Poppins', sans-serif;

    --text: 400 1rem/1.5 var(--font-family);
    --text-sm: 400 0.875rem/1.4 var(--font-family);

    --heading1: 700 2rem/1.2 var(--font-family);
    --heading2: 700 1.5rem/1.2 var(--font-family);
    --heading3: 700 1.25rem/1.2 var(--font-family);
    --heading4: 700 1rem/1.2 var(--font-family);

}

body {
    font-family: var(--font-family);
    overflow: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

h4 {
    margin-bottom: 1.5rem;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 64px;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.grid {
    display: grid;
    place-items: center;
}

.template-columns-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.text-sm {
    font: var(--text-sm);
}

.formGridCol {
    display: grid;
    grid-template-columns: calc(70% - 1rem) 30%;
    gap: 1rem;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;

    label {
        font: var(--text-sm);
        color: var(--text-secondary);
        margin-bottom: 1.5rem;

        span {
            display: block;
            margin-bottom: 0.25rem;
        }
        .infoSpan {

            display: block;
            padding-top: 0.25rem;
        }
    }

    input,
    select,
    textarea {
        transition: .3s;
        appearance: none;
        padding: 0.75rem 1rem;
        font: var(--text);
        border: 2px solid var(--stroke-default);
        border-radius: 0.5rem;
        height: 3rem;
        width: 100%;
        resize: none;

        &:disabled {
            background-color: var(--surface-disabled);
            opacity: .5;
            color: var(--text-primary);
            cursor: not-allowed;
        }

        &:invalid {
            border-color: var(--semantic-error);
        }

        &:valid + .error {
            display: none;
        }

        &[required]:invalid + .error {
            margin-top: 0.25rem;
            display: flex;
            align-items: center;
            text-align: center;
            gap: .25rem;
            color: var(--semantic-error);
        }
    }

    input:focus,
    select:focus,
    textarea:focus,
    input[type="date"]:focus-within {
        outline: .25rem solid var(--surface-secondary);
        border: 2px solid var(--stroke-highlight);
        outline-offset: .1px;
    }

    textarea {
        height: 7.5rem;
    }

    .typeFile {
        max-height: 10rem;
    }
}

input[type="date"] {
    position: relative;
    &::-webkit-calendar-picker-indicator {
        opacity: 0;
    }

    &::before {
        position: absolute;

        content: "";
        background: url(../assets/icons/calendar-03.svg) center/contain;


        width: 1.25rem;
        height: 1.25rem;

        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
    }
}

select {
    background: url(../assets/icons/arrow-down-01.svg) no-repeat calc(100% - 1rem);

}

.dropzone {
    transition: .3s;
    border: 2px dashed var(--stroke-default);
    border-radius: .25rem;

    display: grid;
    justify-items: center;
    gap: .5rem;
    text-align: center;
    padding: 1.75rem 1rem;
    position: relative;

    svg {
        width: 3rem;
        height: 3rem;
    }

    & input {
        position: absolute;
        width: 100%;
        height: 100%;
        inset: 0;
        opacity: 0;
    }

    &:hover, &:has(input:focus) {
        border-width: 2px;
        border-color: var(--stroke-highlight);
        background-color: var(--surface-secondary);

        & p {
            color: var(--text-tertiary);
        }

        & svg path {
            stroke: var(--stroke-highlight);
        }

    }
}