@import url(global.css);
@import url(layout.css);

main {

  a,
  .logo {
    gap: 8px;
    display: flex;
    align-items: center;
  }

  .logo {

    img {
      width: 32px;
      height: 32px;
    }
  }

  a.backButton {
    margin-bottom: 24px;

    img {
      width: 24px;
      height: 24px;
    }
  }

  .turnoEstudo {
    margin-top: .5rem;
  }

  .radioWrapper {
      display: grid;
      gap: 1rem;
      grid-template-columns: repeat(auto-fit, minmax(7.5rem, 1fr));
      justify-items: center;
  }

  .radioInner {
    width: 100%;
    label {
        font: var(--text-sm);
        color: var(--text-primary);
        transition: .3s;
        height: 8rem;
        width: 100%;
        padding: 0.75rem 1rem;
        text-align: center;
        align-content: center;
        justify-content: center;
        cursor: pointer;
        display: block;
        border: 2px solid var(--stroke-default);
        border-radius: 0.5rem;

        & input:hover,
        & input:focus-within,
        & input:focus,
        & input {
            all: unset;
        }

        &:hover,
        &:focus-within {
            border: 2px solid var(--stroke-highlight);

            .circle {
                background-image: url(../assets/icons/circle-hover.svg);
            }
        }

        &:has(:checked) {
            border: 2px solid var(--stroke-highlight);

            .circle {
                background-image: url(../assets/icons/circle-checked.svg);
            }
        }

        position: relative;
        .circle {
            position: absolute;
            background-image: url(../assets/icons/circle.svg);
            width: 1.5rem;
            height: 1.5rem;
            top: .5rem;
            left: .5rem;
        }
    }
  }

  .sports-section > p {
    margin-block: 1rem;
    font: var(--text-sm);
  }

  .terms {
    margin-block: 1.5rem;
    font: var(--text-sm);
    color: var(--text-primary);

    label {
      display: flex;
      gap: .75rem;

      input {
        all: unset;
      }
      
      .checkbox {
        width: 100%;
        max-width: 1.1875rem;
        background: url(../assets/icons/checkbox.svg) no-repeat top/contain;
      }
     

      &:hover,
      &:focus-within {
        cursor: pointer;

        .checkbox {
          background: url(../assets/icons/checkbox-hover.svg) no-repeat top/contain;
        }
      }
       
      &:has(:checked) {
        .checkbox {
          background: url(../assets/icons/checkbox-checked.svg) no-repeat top/contain;
        }
      }

      a {
        color: var(--text-highlight);
        text-decoration: underline;
        display: inline-block;

        &:hover {
          cursor: pointer;
        }
      }

    }
  }

  .buttons {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    font: var(--text);

    button {
      height: 3rem;
      padding: .75rem 1.5rem;
      align-items: center;
      text-align: center;
      border-radius: 0.5rem;
      border: none;
      cursor: pointer;
    }

    .saveResponse {
      transition: .3s;
      background-color: transparent;
      color: var(--stroke-highlight);
      border: 2px solid var(--stroke-highlight);

      &:hover {
          box-shadow: 0 0 0 4px var(--surface-secondary);
      }
      
    }

    .submitButton {
      transition: .3s;
      background-color: var(--brand-dark);
      color: var(--surface-primary);

      &:hover {
          background-color: var(--brand-mid);
    }

  }

}

section {

  #header {
    margin-bottom: 48px;

    h2 {
      font: var(--heading2);
      color: var(--text-primary);
    }

    p {
      font: var(--text);
      margin-top: 8px;
    }
  }

  #infoChild {
    margin-top: 32px;

    h4 {
      font: var(--heading4);
      color: var(--text-primary);
      margin-bottom: 1.5rem;
    }
  }
}

aside {
  #headerAside {
    .logo {
      img {
        width: 12.6875rem;
      }
    }

    h1 {
      font: var(--heading1);
      margin-block: 0.5rem;

      span {
        color: var(--text-highlight);
      }

    }

    img.illustration {
      margin-block: 2rem;
      width: 100%;
      max-width: 31rem;
    }
  }
}